In [1]:
import pandas as pd

In [4]:
data = ['2023-01-20','2023-04-27','2023-06-15']

In [8]:
# give a variable name and create a series data
my_series = pd.Series(data)
print(my_series)

print()
print('if you notice dtype is an object here')

0    2023-01-20
1    2023-04-27
2    2023-06-15
dtype: object

if you notice dtype is an object here

In [10]:
# this series contains string data, but it can be converted to datetime64 data using pd.to_datetime() function
my_series = pd.to_datetime(my_series)
print(my_series)

print()
print('the dtype is datetime64 here')

0   2023-01-20
1   2023-04-27
2   2023-06-15
dtype: datetime64[ns]

the dtype is datetime64 here

In [11]:
# when a series contains datetime, you can use dt to accesss various properties of the data
print(my_series.dt.year)

0    2023
1    2023
2    2023
dtype: int32

In [12]:
print(my_series.dt.month)

0    1
1    4
2    6
dtype: int32

In [13]:
print(my_series.dt.day)

0    20
1    27
2    15
dtype: int32

In [14]:
# sometimes we have to import datetime module from Pythons library as dt.
# in most cases importing pandas does the job